/* ======= Body style ======= */
body {
  background-color: white;
}

/* ======= Nav style ======== */
#header {
  background-color: #003b46;
  color: white;
  display: flex;
}

nav {
  height: 60px;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 9;
}

.left {
  width: 500px;
}

.logo {
  display: flex;
  flex-direction: row;
  animation-name: navanime;
  animation-duration: 0.5s;
  position: relative;
}

.logo-head {
  margin-left: 10px;
  align-self: center;
  font-size: 30px;
}

@keyframes navanime {
  0% {
    right: 600px;
  }
  100% {
    right: 0px;
  }
}

.right {
  flex: 1;
  width: 100px;
  text-align: right;
  position: relative;
  margin-right: 20px;
}

/* ====== Main Content ====== */
#photo-container {
  background-image: url('../images/hiking-gear-checklist.jpeg');
  background-size: cover;
  height: 700px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  min-width: 100%;
}

#main {
  margin-top: 80px;
}

@media (max-width: 600px) {
  #main {
    margin-top: 110px;
  }
}

.header-title {
  text-align: right;
  margin-top: 70px;
  font-family: 'Poppins', sans-serif;
  color: #d9935a;
  font-weight: bold;
  font-size: 50px;
  animation-name: header;
  animation-duration: 1s;
  position: relative;
}

@keyframes header {
  0% {
    left: -800px;
  }
  100% {
    left: 0px;
  }
}

@media (max-width: 600px) {
  .header-title {
  }
}

@media (max-width: 900px) {
  .header-title {
    margin-top: -40px;
    font-size: 40px;
    text-align: center;
  }
}

.here {
  color: #07575b;
  font-weight: bolder;
  font-size: 80px;
  font-family: 'Philosopher', sans-serif;
}

@media (max-width: 600px) {
  .header-title {
    text-align: center;
    font-size: 35px;
  }
}

#title-div {
  margin-bottom: 50px;
}

#title {
  text-align: center;
  font-size: 50px;
  color: #07575b;
  font-family: 'Poppins', sans-serif;
}

@media (max-width: 800px) {
  #title {
    font-size: 30px;
  }
}

.card-title {
  font-family: 'Poppins', sans-serif;
}

.card-text {
  font-family: 'Niramit', sans-serif;
}

.card {
  border: none;
  color: #07575b;
}

#body-text {
  color: #66a5ad;
}

.fas {
  transition: all 0.2s ease-in-out;
}

.fas:hover {
  transform: scale(1.1);
  color: #d9935a;
}

/* ======== form styling ======== */
.forms {
  background-color: #07575b;
  border-radius: 10px;
  border: 2px solid #66a5ad;
  margin-top: 10px;
  animation-name: forman;
  animation-duration: 1s;
  position: relative;
}

@keyframes forman {
  0% {
    right: -800px;
  }
  100% {
    right: 0px;
  }
}

@media (max-width: 600px) {
  .forms {
    margin-bottom: 20px;
  }
}

.sign {
  text-align: center;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  color: white;
  font-weight: bold;
}

.form-group {
  margin: 15px;
  font-family: 'Niramit', sans-serif;
  color: white;
}

.button-div {
  text-align: center;
}

.s-button {
  background-color: #d9935a;
  width: 230px;
  height: 50px;
  margin-top: 20px;
  border-radius: 10px;
  color: white;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  border: 1px solid white;
  transition: all 0.4s ease-in-out;
}

.s-button:hover {
  color: #d9935a;
  background-color: white;
  border: 2px solid #d9935a;
  transform: scale(1.05);
}

.side {
  width: 500px;
  border: 0;
  height: 1px;
  background: #d9935a;
  background-image: linear-gradient(to right, #ccc, #d9935a, #ccc);
  margin-bottom: 50px;
}

@media (max-width: 800px) {
  .side {
    width: 200px;
  }
}

.side2 {
  width: 230px;
  border: 0;
  height: 1px;
  background: -webkit-gradient(
    radial,
    50% 50%,
    0,
    50% 50%,
    350,
    from(#d9935a),
    to(#fff)
  );
  background-image: linear-gradient(to right, #ccc, #d9935a, #ccc);
}
